 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-family: Arial, sans-serif;
}

header {
    background-color: #9f9f9f;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    color:rgb(234, 234, 239);
  }
  
  .logo {
    width: 20%;

  }

  header nav{
    display: flex;
    gap: 15px;

  }

  main{
    display: flex;
    gap: 20px;
    padding: 20px;

  }

  .secao1 {
    width: 70%;
    border-radius: 10px;
    background-color: rgb(189, 189, 189);
    padding: 20px;
  }
   
  
  .secao2 {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(207, 207, 207);
  }

  footer {
    color: white;
    background-color: #909090;
    flex-direction: column;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
  }

  footer p{
    margin: 5px;
  }
